<div style="display:flex; justify-content:space-between; align-items:center; margin-bottom:20px">
  <div>
    <h2 style="font-size:18px; font-weight:500; margin:0">Users</h2>
    <p style="font-size:13px; color:#888; margin:2px 0 0">{{ dataSource.data.length }} total</p>
  </div>
  <button mat-raised-button color="primary" (click)="openCreate()">
    <mat-icon>person_add</mat-icon> Add user
  </button>
</div>

<mat-card>
  <table mat-table [dataSource]="dataSource" style="width:100%">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let row" style="color:#888">{{ row.email }}</td>
    </ng-container>

    <ng-container matColumnDef="roles">
      <th mat-header-cell *matHeaderCellDef>Roles</th>
      <td mat-cell *matCellDef="let row">
       <span
    class="role-badge"
    [class.role-super]="getPrimaryRole(row.roles) === 'SUPER_USER'"
    [class.role-admin]="getPrimaryRole(row.roles) === 'ADMIN'"
    [class.role-user]="getPrimaryRole(row.roles) === 'USER'">

    {{ getPrimaryRole(row.roles) }}

  </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let row">
        <div style="display:flex; gap:6px; align-items:center">
          <button class="action-btn btn-edit" (click)="openEdit(row)">
            <mat-icon style="font-size:14px; height:14px; width:14px">edit</mat-icon> Edit
          </button>

          <mat-select *ngIf="isSuperUser() && canManageRole(row)"
            [value]="getUserRole(row)"
            (selectionChange)="onRoleChange(row, $event.value)"
            class="role-select">
            <mat-option *ngFor="let opt of roleOptions" [value]="opt.value">{{ opt.label }}</mat-option>
          </mat-select>

          <button class="action-btn btn-promote"
            *ngIf="!isSuperUser() && isAdmin() && canManageRole(row) && getUserRole(row) === 'USER'"
            (click)="makeAdmin(row)">
            <mat-icon style="font-size:14px; height:14px; width:14px">shield</mat-icon> Make admin
          </button>

          <button class="action-btn btn-del" *ngIf="canDeleteUser(row)" (click)="delete(row)">
            <mat-icon style="font-size:14px; height:14px; width:14px">delete</mat-icon> Delete
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <p *ngIf="dataSource.data.length === 0" style="text-align:center; padding:40px; color:#999">
    No users found.
  </p>
</mat-card>